
body{
    background-color: #2b2b2b;
}

p{
    color: #cc7832;
}

h4{
    color: whitesmoke;
}

a{
    color: #a5c261;
}

.legend{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

strong{
    color: #393f4c;
}