//Style Global Settings 

//Colors:
$theme-dark-1:#1B1D23;
$theme-dark-2:#21252B;

body,html{
    height: 100%;
    background-color: $theme-dark-1;
    margin: 0px;
    overflow:hidden;
}

#screen{
    width: 640px;
    height: 480px;
    background-color: $theme-dark-2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}